.cover__link{
    background-image: url(../../../images/cover-trains.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    text-decoration: none;
    max-width: 1184px;
    min-height: 740px;
}

@media  screen and (max-width: 1183px) {
    .cover__link {
        min-height: 640px;
        background-size: cover;
    }
}

@media screen and (max-width: 1023px) {
    .cover__link {
        min-height: 480px;
        background-size: cover;
    }
}

@media screen and (max-width:425px) {
    .cover__link {
        min-height: 200px;
        background-size: cover;
    }
}