@import url(__title/cover__title.css);
@import url(__subtitle/cover__subtitle.css);
@import url(__overlay/cover__overlay.css);
@import url(__link/cover__link.css);
@import url(__text/cover__text.css);

.cover {
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    margin: 92px auto;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width: 1183px) {
    .cover {
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) {
    .cover {
        min-height: 480px;
        margin: 88px auto;
    }
}

@media screen and (max-width: 425px) {
    .cover {
        min-height: 200px;
        margin: 64px auto;
    }
}